---
import LayoutMain from "../layouts/LayoutMain.astro";
import Card from "../components/main/Card.jsx";
---

<LayoutMain>
  <main class="container gap-5 flex flex-col flex-wrap md:flex-row justify-center lg:justify-around items-center py-20">
    <Card />
  </main>
</LayoutMain>
