---
import Card from "../components/main/Card";
import LayoutMain from "../layouts/LayoutMain.astro";
---
<LayoutMain>
  <main class="container p-16 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 md:gap-2">
    <Card client:load/>
  </main>
</LayoutMain>