---
import Card from "../components/main/Card";
import LayoutMain from "../layouts/LayoutMain.astro";
---
<LayoutMain>
  <main class="container p-16 flex justify-center items-center">
    <Card client:load/>
  </main>
</LayoutMain>