---
import Nav from "../components/Nav.jsx";
import ImgAnimation from "../components/ImgAnimation.jsx";
import { motion } from "framer-motion";
const variants = {
    visible: {
      "::after": {
        width: '50px' ,
        backgroundColor: 'red',
      }
    }}
---

<!DOCTYPE html>
<html lang="es" class="overflow-x-hidden">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FernDev</title>
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body
    class="bg-gradient-to-b from-zinc-900 via-zinc-900 to-zinc-800 text-zinc-100 bg-zinc-900 font-sans relative min-h-screen overflow-x-hidden"
  >
    <header class="h-screen">
      <Nav client:load />
      <div
        class="container h-[80%] flex flex-col-reverse items-center justify-center gap-10 md:flex-row lg:justify-around"
      >
        <article
          class="w-96 md:h-80 flex flex-col justify-center gap-5 md:gap-16"
        >
        <motion.div
        className="overflow-hidden border-r-4 border-manz-500"
        initial={{ width: "0px", opacity: 1, borderRight: "none"}}
        animate={{ scale: 1, width: "100%", borderRight:'4px', borderColor:'#E1E111', borderStyle: 'solid' }}
        transition={{ duration: 1.5 }}
        client:load
      >
        <h1 class="font-bold text-5xl w-96">Fern - Front-End</h1>
      </motion.div>
          <p class="font-medium text-lg">
            Hola!, Bienvenido a mi pagina personal, me llamo <span
              class="text-manz-500">Fernando</span
            > tengo 19 años y soy de <span class="text-manz-500">Argentina</span
            >. desarrollo paginas web con Frameworks como <span
              class="text-manz-500">Astro</span
            > y
            <span class="text-manz-500">React</span>.
          </p>
        </article>
        <div class="w-80 h-80">
          <ImgAnimation client:load>
            <img
              class="rounded-xl w-64 md:w-80"
              src="https://picsum.photos/320"
              alt=""
            />
          </ImgAnimation>
        </div>
      </div>
    </header>
    <slot />
    <script
      src="https://kit.fontawesome.com/3cabd74866.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
<style>
  img {
    box-shadow: 10px 7px 0 -2px #27272a, 10px 7px black,
      20px 14px 0px -2px #27272a, 20px 14px black;
    transition: all 500ms ease-out;
  }
  img:hover {
    box-shadow: none;
  }
</style>
