---
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FernDev</title>
    <meta name="generator" content={Astro.generator} />
    <script
      src="https://kit.fontawesome.com/3cabd74866.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <slot/>
  </body>
</html>
